In [1]:
## SQL and SQLite
import sqlite3
import pandas as pd

In [2]:
## Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')
conn

In [3]:
## cursor object
cursor = conn.cursor()
cursor

In [4]:
## Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
conn.commit()

In [5]:
cursor.execute('''Select * from users''')

In [6]:
## Insert data into the table
cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")
conn.commit()

In [7]:
cursor.execute("Select * from users")
## Fetch all results from the executed query
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 31)
(2, 'Alice', 31)
(3, 'Alice', 31)
(4, 'Alice', 30)
(5, 'Bob', 25)

In [8]:
## Update data
cursor.execute("UPDATE users SET age = 31 WHERE name = 'Alice'")
conn.commit()

In [9]:
cursor.execute("Select * from users")
## Fetch all results from the executed query
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 31)
(2, 'Alice', 31)
(3, 'Alice', 31)
(4, 'Alice', 31)
(5, 'Bob', 25)

In [10]:
##Delete data
cursor.execute("DELETE FROM users WHERE name = 'Bob'")
conn.commit()

In [11]:
cursor.execute("Select * from users")
## Fetch all results from the executed query
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 31)
(2, 'Alice', 31)
(3, 'Alice', 31)
(4, 'Alice', 31)

In [12]:
## Working with sales data
# Create sales table
connect = sqlite3.connect('sales.db')
cursor = connect.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS sales
                  (id INTEGER PRIMARY KEY, product TEXT, quantity INTEGER, price REAL)''')
conn.commit()
# Insert sample sales data
sales_data = [
    ('Laptop', 2, 999.99),
    ('Smartphone', 5, 499.49),
    ('Tablet', 3, 299.99)
]
cursor.executemany("INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)", sales_data)
conn.commit()

In [13]:
cursor.execute("Select * from sales")
## Fetch all results from the executed query
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 2, 999.99)
(2, 'Smartphone', 5, 499.49)
(3, 'Tablet', 3, 299.99)